<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="TaskExtensionPoint" name="Task Extension Point" schema="schema/TaskExtensionPoint.exsd"/>
   <extension
         id="task"
         name="My Task"
         point="pt.iscte.pidesco.view">
      <view
            class="pt.iscte.pidesco.tasklist.TaskComponent">
      </view>
   </extension>

</plugin>
